* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.gradient{
  font-family: "VT323", serif;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

h1{
  font-size: 56px;
}
 
p{
  font-size: 20px;
}
